<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crcc.common.mapper.InspectionAccountMapper" >
  <resultMap id="BaseResultMap" type="com.crcc.common.model.InspectionAccount" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="subcontractor_id" property="subcontractorId" jdbcType="BIGINT" />
    <result column="subcontractor_name" property="subcontractorName" jdbcType="VARCHAR" />
    <result column="contract_price" property="contractPrice" jdbcType="DECIMAL" />
    <result column="valuation_period" property="valuationPeriod" jdbcType="INTEGER" />
    <result column="valuation_time" property="valuationTime" jdbcType="TIMESTAMP" />
    <result column="valuation_type" property="valuationType" jdbcType="BIGINT" />
    <result column="valuation_person" property="valuationPerson" jdbcType="VARCHAR" />
    <result column="valuation_price" property="valuationPrice" jdbcType="DECIMAL" />
    <result column="valuation_price_reduce" property="valuationPriceReduce" jdbcType="DECIMAL" />
    <result column="warranty" property="warranty" jdbcType="DECIMAL" />
    <result column="performance_bond" property="performanceBond" jdbcType="DECIMAL" />
    <result column="compensation" property="compensation" jdbcType="DECIMAL" />
    <result column="should_amount" property="shouldAmount" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="annex_url" property="annexUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="ended_price" property="endedPrice" jdbcType="DECIMAL" />
    <result column="under_rate" property="underRate" jdbcType="DECIMAL" />
    <result column="labor_account_id" property="laborAccountId" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, subcontractor_id, subcontractor_name, contract_price,
    valuation_period, valuation_time, valuation_type, valuation_person, valuation_price,
    valuation_price_reduce, warranty, performance_bond, compensation, should_amount, 
    remark, annex_url, create_time, create_user, update_time, update_user,ended_price,under_rate,labor_account_id,deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from inspection_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from inspection_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crcc.common.model.InspectionAccount" >
    insert into inspection_account (id, project_id, subcontractor_id, 
      subcontractor_name,contract_price,
      valuation_period, valuation_time, valuation_type,
      valuation_person, valuation_price, valuation_price_reduce, 
      warranty, performance_bond, compensation, 
      should_amount, remark, annex_url, 
      create_time, create_user, update_time, ended_price,under_rate
      update_user,labor_account_id,deleted)
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{subcontractorId,jdbcType=BIGINT}, 
      #{subcontractorName,jdbcType=VARCHAR}, #{contractPrice,jdbcType=DECIMAL},
      #{valuationPeriod,jdbcType=INTEGER}, #{valuationTime,jdbcType=TIMESTAMP}, #{valuationType,jdbcType=BIGINT},
      #{valuationPerson,jdbcType=VARCHAR}, #{valuationPrice,jdbcType=DECIMAL}, #{valuationPriceReduce,jdbcType=DECIMAL}, 
      #{warranty,jdbcType=DECIMAL}, #{performanceBond,jdbcType=DECIMAL}, #{compensation,jdbcType=DECIMAL}, 
      #{shouldAmount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{annexUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=BIGINT},#{endedPrice},#{underRate},#{laborAccountId},#{deleted})
  </insert>
  <insert id="insertSelective" parameterType="com.crcc.common.model.InspectionAccount" keyProperty="id" useGeneratedKeys="true">
    insert into inspection_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="subcontractorId != null" >
        subcontractor_id,
      </if>
      <if test="subcontractorName != null" >
        subcontractor_name,
      </if>
      <if test="contractPrice != null" >
        contract_price,
      </if>
      <if test="valuationPeriod != null" >
        valuation_period,
      </if>
      <if test="valuationTime != null" >
        valuation_time,
      </if>
      <if test="valuationType != null" >
        valuation_type,
      </if>
      <if test="valuationPerson != null" >
        valuation_person,
      </if>
      <if test="valuationPrice != null" >
        valuation_price,
      </if>
      <if test="valuationPriceReduce != null" >
        valuation_price_reduce,
      </if>
      <if test="warranty != null" >
        warranty,
      </if>
      <if test="performanceBond != null" >
        performance_bond,
      </if>
      <if test="compensation != null" >
        compensation,
      </if>
      <if test="shouldAmount != null" >
        should_amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="annexUrl != null" >
        annex_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="endedPrice != null">
        ended_price,
      </if>
      <if test="underRate != null">
        under_rate,
      </if>
      <if test="laborAccountId != null">
        labor_account_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="subcontractorId != null" >
        #{subcontractorId,jdbcType=BIGINT},
      </if>
      <if test="subcontractorName != null" >
        #{subcontractorName,jdbcType=VARCHAR},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        #{contractPrice,jdbcType=DECIMAL},
      </if>
      <if test="valuationPeriod != null" >
        #{valuationPeriod,jdbcType=INTEGER},
      </if>
      <if test="valuationTime != null" >
        #{valuationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valuationType != null" >
        #{valuationType,jdbcType=BIGINT},
      </if>
      <if test="valuationPerson != null" >
        #{valuationPerson,jdbcType=VARCHAR},
      </if>
      <if test="valuationPrice != null" >
        #{valuationPrice,jdbcType=DECIMAL},
      </if>
      <if test="valuationPriceReduce != null" >
        #{valuationPriceReduce,jdbcType=DECIMAL},
      </if>
      <if test="warranty != null" >
        #{warranty,jdbcType=DECIMAL},
      </if>
      <if test="performanceBond != null" >
        #{performanceBond,jdbcType=DECIMAL},
      </if>
      <if test="compensation != null" >
        #{compensation,jdbcType=DECIMAL},
      </if>
      <if test="shouldAmount != null" >
        #{shouldAmount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annexUrl != null" >
        #{annexUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="endedPrice != null">
        #{endedPrice},
      </if>
      <if test="underRate != null">
        #{underRate},
      </if>
      <if test="laborAccountId != null">
        #{laborAccountId}
      </if>
      <if test="deleted != null">
        #{deleted}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crcc.common.model.InspectionAccount" >
    update inspection_account
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="subcontractorId != null" >
        subcontractor_id = #{subcontractorId,jdbcType=BIGINT},
      </if>
      <if test="subcontractorName != null" >
        subcontractor_name = #{subcontractorName,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        contract_price = #{contractPrice,jdbcType=DECIMAL},
      </if>
      <if test="valuationPeriod != null" >
        valuation_period = #{valuationPeriod,jdbcType=INTEGER},
      </if>
      <if test="valuationTime != null" >
        valuation_time = #{valuationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valuationType != null" >
        valuation_type = #{valuationType,jdbcType=BIGINT},
      </if>
      <if test="valuationPerson != null" >
        valuation_person = #{valuationPerson,jdbcType=VARCHAR},
      </if>
      <if test="valuationPrice != null" >
        valuation_price = #{valuationPrice,jdbcType=DECIMAL},
      </if>
      <if test="valuationPriceReduce != null" >
        valuation_price_reduce = #{valuationPriceReduce,jdbcType=DECIMAL},
      </if>
      <if test="warranty != null" >
        warranty = #{warranty,jdbcType=DECIMAL},
      </if>
      <if test="performanceBond != null" >
        performance_bond = #{performanceBond,jdbcType=DECIMAL},
      </if>
      <if test="compensation != null" >
        compensation = #{compensation,jdbcType=DECIMAL},
      </if>
      <if test="shouldAmount != null" >
        should_amount = #{shouldAmount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="annexUrl != null" >
        annex_url = #{annexUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="endedPrice != null">
        ended_price = #{endedPrice},
      </if>
      <if test="underRate != null">
        under_rate = #{underRate},
      </if>
      <if test="laborAccountId != null">
        labor_account_id = #{laborAccountId},
      </if>
      <if test="deleted != null">
        deleted = #{deleted},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crcc.common.model.InspectionAccount" >
    update inspection_account
    set project_id = #{projectId,jdbcType=BIGINT},
      subcontractor_id = #{subcontractorId,jdbcType=BIGINT},
      subcontractor_name = #{subcontractorName,jdbcType=VARCHAR},
      contract_price = #{contractPrice,jdbcType=DECIMAL},
      valuation_period = #{valuationPeriod,jdbcType=INTEGER},
      valuation_time = #{valuationTime,jdbcType=TIMESTAMP},
      valuation_type = #{valuationType,jdbcType=BIGINT},
      valuation_person = #{valuationPerson,jdbcType=VARCHAR},
      valuation_price = #{valuationPrice,jdbcType=DECIMAL},
      valuation_price_reduce = #{valuationPriceReduce,jdbcType=DECIMAL},
      warranty = #{warranty,jdbcType=DECIMAL},
      performance_bond = #{performanceBond,jdbcType=DECIMAL},
      compensation = #{compensation,jdbcType=DECIMAL},
      should_amount = #{shouldAmount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      annex_url = #{annexUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      ended_price = #{endedPrice},
      under_rate = #{underRate},
      labor_account_id = #{laborAccountId},
      deleted = #{deleted}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getDetails" resultType="com.crcc.common.model.InspectionAccount">
     SELECT
      ic.*,p.name AS projectName,cu.name AS createUserStr,uu.name AS updateUserStr,ac.team_name AS teamName,
      s.name AS subcontractorName
    FROM
      inspection_account ic LEFT JOIN project p ON ic.project_id = p.id
    LEFT JOIN
      `user` cu ON ic.create_user = cu.id
    LEFT JOIN
      labor_account ac ON ic.labor_account_id = ac.id
    LEFT JOIN
      `user` uu ON ic.update_user = uu.id
    LEFT JOIN
      subcontractor s ON s.id = ic.subcontractor_id
    WHERE ic.id = #{inspectionAccountId}
  </select>

  <select id="listForPage" resultType="com.crcc.common.model.InspectionAccount">
    SELECT
      ic.*,p.name AS projectName,cu.name AS createUserStr,uu.name AS updateUserStr,ac.team_name AS teamName,
      s.name AS subcontractorName,sum(ac2.estimated_contract_amount) AS sumContractAmount
    FROM
      inspection_account ic LEFT JOIN project p ON ic.project_id = p.id
    LEFT JOIN
      `user` cu ON ic.create_user = cu.id
    LEFT JOIN
      `user` uu ON ic.update_user = uu.id
    LEFT JOIN
      labor_account ac ON ic.labor_account_id = ac.id
    LEFT JOIN
      subcontractor s ON s.id = ic.subcontractor_id
    LEFT JOIN
      labor_account ac2 on  ac.team_name = ac2.team_name AND ac2.project_id = ic.project_id and ac2.subcontractor_id = ic.subcontractor_id
    WHERE 1=1 AND ic.deleted != 1
    <if test="teamName != null">
      AND ac.team_name LIKE concat('%',#{teamName},'%')
    </if>
    <if test="projectId != null">
      AND ic.project_id = #{projectId}
    </if>
    <if test="projectName != null">
      AND p.name LIKE concat('%',#{projectName},'%')
    </if>
    <if test="subcontractorName != null">
      AND s.name LIKE concat('%',#{subcontractorName},'%')
    </if>
    <if test="valuationType != null">
      AND ic.valuation_type = #{valuationType}
    </if>
    <if test="valuationTime != null">
      AND date_format(ic.valuation_time,'%Y-%m') = #{valuationTime}
    </if>
    <if test="minUnderRate != null and maxUnderRate != null">
      AND under_rate &gt;= #{minUnderRate} AND under_rate &lt;= #{maxUnderRate}
    </if>
    GROUP BY ac2.team_name,ic.project_id,ic.subcontractor_id,ic.valuation_period ORDER BY ic.id DESC
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
  </select>

  <select id="listForPageSize" resultType="java.lang.Integer">
    SELECT
     COUNT(*)
    FROM
      inspection_account ic
    LEFT JOIN project p ON ic.project_id = p.id
    LEFT JOIN subcontractor s ON ic.subcontractor_id = s.id
    LEFT JOIN labor_account ac ON ic.labor_account_id = ac.id
    WHERE 1=1 AND ic.deleted != 1
    <if test="teamName != null">
      AND ac.team_name LIKE concat('%',#{teamName},'%')
    </if>
    <if test="projectId != null">
      AND ic.project_id = #{projectId}
    </if>
    <if test="projectName != null">
      AND p.name LIKE concat('%',#{projectName},'%')
    </if>
    <if test="subcontractorName != null">
      AND s.name LIKE concat('%',#{subcontractorName},'%')
    </if>
    <if test="valuationType != null">
      AND ic.valuation_type = #{valuationType}
    </if>
    <if test="valuationTime != null">
      AND date_format(ic.valuation_time,'%Y-%m') = #{valuationTime}
    </if>
    <if test="minUnderRate != null and maxUnderRate != null">
      AND under_rate &gt;= #{minUnderRate} AND under_rate &lt;= #{maxUnderRate}
    </if>
  </select>

  <select id="sumPriceByProjectIdAndSubcontractorIdAndLaborAccountId" resultType="java.lang.Double">
    select
      SUM(valuation_price)
    from
      inspection_account
    where deleted != 1 AND
      project_id = #{projectId}
      and subcontractor_id = #{subcontractorId}
      and labor_account_id = #{laborAccountId};
  </select>

  <select id="foundInspectionByValuationType" resultType="com.crcc.common.model.InspectionAccount">
    select
      *
    from
      inspection_account
    where deleted != 1 AND labor_account_id = #{laborAccountId} AND project_id = #{projectId} AND subcontractor_id = #{subcontractorId}
    <if test="valuationType != null">
      AND valuation_type = #{valuationType}
    </if>
  </select>

  <update id="logicDeleteById">
    UPDATE
      inspection_account
    SET
      deleted=1,
      update_user = #{updateUser},
      update_time = #{updateTime}
    WHERE id = #{id}
  </update>

  <select id="findInspectionAccountByProjectAndSubAndTeam" resultType="com.crcc.common.model.InspectionAccount">
    SELECT
      ic.*
    FROM
      inspection_account ic
    LEFT JOIN
      labor_account lc ON ic.labor_account_id = lc.id
    WHERE
      ic.project_id = #{projectId}
      AND ic.subcontractor_id = #{subcontractorId}
      AND lc.team_name = #{teamName};
  </select>

  <select id="findByValuationPeriod" resultType="com.crcc.common.model.InspectionAccount">
    SELECT
      *
    FROM
      inspection_account
    WHERE
      project_id = #{projectId} AND subcontractor_id = #{subcontractorId}
        AND labor_account_id = #{laborAccountId}
        AND valuation_period = #{valuationPeriod}
  </select>
</mapper>