<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crcc.common.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.crcc.common.model.Project" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="dict_id" property="dictId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, dict_id, status, create_time, create_user_id, update_time, update_user_id, 
    org_id,`name`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crcc.common.model.Project" >
    insert into project (id, code, dict_id, 
      status, create_time, create_user_id, 
      update_time, update_user_id, org_id,
      `name`)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{dictId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT},
      #{name})
  </insert>
  <insert id="insertSelective" parameterType="com.crcc.common.model.Project" useGeneratedKeys="true" keyProperty="id">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="dictId != null" >
        dict_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null" >
        #{dictId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crcc.common.model.Project" >
    update project
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null" >
        dict_id = #{dictId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crcc.common.model.Project" >
    update project
    set code = #{code,jdbcType=VARCHAR},
      dict_id = #{dictId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT},
      `name` = #{name}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findProjectsByUserId" resultType="com.crcc.common.model.Project">
    SELECT p.* FROM user_project_rel rel LEFT JOIN project p ON rel.project_id = p.id WHERE rel.user_id = #{userId}
  </select>

  <select id="listProjectForPage" resultType="com.crcc.common.model.Project">
    SELECT
      p.*, d.id AS dictId, d.value AS projectType
    FROM
      project p
    LEFT JOIN
      dict d ON p.dict_id = d.id
    WHERE
      1=1
    <if test="projectName != null">
      AND p.name LIKE CONCAT('%', #{projectName}, '%')
    </if>
    <if test="code != null">
      AND p.code LIKE CONCAT('%', #{code}, '%')
    </if>
    <if test="dictId != null">
      AND d.id = #{dictId}
    </if>
    <if test="status != null">
      AND p.status = #{status}
    </if>
    ORDER BY p.id DESC
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
  </select>

  <select id="getDetails" resultType="com.crcc.common.model.Project">
    SELECT
      p.*, d.id AS dictId, d.value AS projectType
    FROM
      project p LEFT JOIN dict d ON p.dict_id = d.id
    WHERE p.id = #{projectId}
  </select>
</mapper>