<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crcc.common.mapper.RoleResourceRelMapper" >
  <resultMap id="BaseResultMap" type="com.crcc.common.model.RoleResourceRelKey" >
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
    <id column="resource_id" property="resourceId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.crcc.common.model.RoleResourceRelKey" >
    delete from role_resource_rel
    where role_id = #{roleId,jdbcType=BIGINT}
      and resource_id = #{resourceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crcc.common.model.RoleResourceRelKey" >
    insert into role_resource_rel (role_id, resource_id)
    values (#{roleId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.crcc.common.model.RoleResourceRelKey" >
    insert into role_resource_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>