<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crcc.common.mapper.SubcontractorResumeMapper" >
  <resultMap id="BaseResultMap" type="com.crcc.common.model.SubcontractorResume" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="subcontractor_id" property="subcontractorId" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_evaluation" property="projectEvaluation" jdbcType="VARCHAR" />
    <result column="project_description" property="projectDescription" jdbcType="VARCHAR" />
    <result column="company_evaluation" property="comanyEvaluation" jdbcType="VARCHAR" />
    <result column="group_evaluation" property="groupEvaluation" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="labor_account_id" property="laborAccountId" jdbcType="BIGINT" />
    <result column="construction_scale" property="constructionScale" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subcontractor_id, start_time, end_time, project_id, project_evaluation, project_description, 
    company_evaluation, group_evaluation, create_user, update_time, update_user, create_time,
    labor_account_id, construction_scale
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from subcontractor_resume
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from subcontractor_resume
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crcc.common.model.SubcontractorResume" >
    insert into subcontractor_resume (id, subcontractor_id, start_time, 
      end_time, project_id, project_evaluation, 
      project_description, company_evaluation, group_evaluation,
      create_user, update_time, update_user, 
      create_time, labor_account_id, construction_scale
      )
    values (#{id,jdbcType=BIGINT}, #{subcontractorId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{projectId,jdbcType=BIGINT}, #{projectEvaluation,jdbcType=VARCHAR}, 
      #{projectDescription,jdbcType=VARCHAR}, #{companyEvaluation,jdbcType=VARCHAR}, #{groupEvaluation,jdbcType=VARCHAR},
      #{createUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{laborAccountId,jdbcType=BIGINT}, #{constructionScale,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crcc.common.model.SubcontractorResume" keyProperty="id" useGeneratedKeys="true">
    insert into subcontractor_resume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subcontractorId != null" >
        subcontractor_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectEvaluation != null" >
        project_evaluation,
      </if>
      <if test="projectDescription != null" >
        project_description,
      </if>
      <if test="companyEvaluation != null" >
        company_evaluation,
      </if>
      <if test="groupEvaluation != null" >
        group_evaluation,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="laborAccountId != null" >
        labor_account_id,
      </if>
      <if test="constructionScale != null" >
        construction_scale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subcontractorId != null" >
        #{subcontractorId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectEvaluation != null" >
        #{projectEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="projectDescription != null" >
        #{projectDescription,jdbcType=VARCHAR},
      </if>
      <if test="companyEvaluation != null" >
        #{companyEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="groupEvaluation != null" >
        #{groupEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="laborAccountId != null" >
        #{laborAccountId,jdbcType=BIGINT},
      </if>
      <if test="constructionScale != null" >
        #{constructionScale,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crcc.common.model.SubcontractorResume" >
    update subcontractor_resume
    <set >
      <if test="subcontractorId != null" >
        subcontractor_id = #{subcontractorId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectEvaluation != null" >
        project_evaluation = #{projectEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="projectDescription != null" >
        project_description = #{projectDescription,jdbcType=VARCHAR},
      </if>
      <if test="companyEvaluation != null" >
        company_evaluation = #{companyEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="groupEvaluation != null" >
        group_evaluation = #{groupEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="laborAccountId != null" >
        labor_account_id = #{laborAccountId,jdbcType=BIGINT},
      </if>
      <if test="constructionScale != null" >
        construction_scale = #{constructionScale,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crcc.common.model.SubcontractorResume" >
    update subcontractor_resume
    set subcontractor_id = #{subcontractorId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      project_id = #{projectId,jdbcType=BIGINT},
      project_evaluation = #{projectEvaluation,jdbcType=VARCHAR},
      project_description = #{projectDescription,jdbcType=VARCHAR},
      company_evaluation = #{companyEvaluation,jdbcType=VARCHAR},
      group_evaluation = #{groupEvaluation,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      labor_account_id = #{laborAccountId,jdbcType=BIGINT},
      construction_scale = #{constructionScale,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listForPage" resultType="com.crcc.common.model.SubcontractorResume">
    SELECT
      sr.*,
      la.team_name AS teamName,
      p.name AS projectName,
      s.name AS subcontractorName,
      la.contract_person AS contractPerson,
      la.phone,
      la.estimated_contract_amount AS contractAmount,
      la.settlement_amount AS settlementAmount
    FROM
      subcontractor_resume sr
    LEFT JOIN
      labor_account la ON sr.labor_account_id = la.id
    LEFT JOIN
      subcontractor s ON sr.subcontractor_id = s.id
    LEFT JOIN
      project p ON sr.project_id = p.id
    WHERE 1=1
    <if test="subcontractorName != null">
      AND s.name LIKE concat('%',#{subcontractorName},'%')
    </if>
    <if test="companyEvaluation != null">
      AND sr.company_evaluation LIKE concat('%',#{companyEvaluation},'%')
    </if>
    <if test="constructionScale != null">
      AND sr.construction_scale = #{constructionScale}
    </if>
    ORDER BY id DESC
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
  </select>

  <select id="listForPageSize" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM
    subcontractor_resume sr
    LEFT JOIN
    labor_account la ON sr.labor_account_id = la.id
    LEFT JOIN
    subcontractor s ON sr.subcontractor_id = s.id
    LEFT JOIN
    project p ON sr.project_id = p.id
    WHERE 1=1
    <if test="subcontractorName != null">
      AND s.name LIKE concat('%',#{subcontractorName},'%')
    </if>
    <if test="companyEvaluation != null">
      AND sr.company_evaluation LIKE concat('%',#{companyEvaluation},'%')
    </if>
    <if test="constructionScale != null">
      AND sr.construction_scale = #{constructionScale}
    </if>
  </select>


  <select id="getDetails" resultType="com.crcc.common.model.SubcontractorResume">
    SELECT
      sr.*,
      la.team_name AS teamName,
      p.name AS projectName,
      s.name AS subcontractorName,
      s.code AS subcontractorCode,
      la.contract_person AS contractPerson,
      la.phone,
      la.estimated_contract_amount AS contractAmount,
      la.settlement_amount AS settlementAmount
    FROM
      subcontractor_resume sr
    LEFT JOIN
      labor_account la ON sr.labor_account_id = la.id
    LEFT JOIN
      subcontractor s ON sr.subcontractor_id = s.id
    LEFT JOIN
      project p ON sr.project_id = p.id
    WHERE sr.id = #{id}
  </select>
</mapper>