<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crcc.common.mapper.SubcontractorMapper">
  <resultMap id="BaseResultMap" type="com.crcc.common.model.Subcontractor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="set_up_time" jdbcType="TIMESTAMP" property="setUpTime" />
    <result column="taxpayer_type_id" jdbcType="BIGINT" property="taxpayerTypeId" />
    <result column="registered_capital" jdbcType="DECIMAL" property="registeredCapital" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="legal_person_position" jdbcType="VARCHAR" property="legalPersonPosition" />
    <result column="legal_person_card" jdbcType="VARCHAR" property="legalPersonCard" />
    <result column="legal_person_phone" jdbcType="VARCHAR" property="legalPersonPhone" />
    <result column="legal_person_address" jdbcType="VARCHAR" property="legalPersonAddress" />
    <result column="business_license_code" jdbcType="VARCHAR" property="businessLicenseCode" />
    <result column="business_license_validity_period" jdbcType="TIMESTAMP" property="businessLicenseValidityPeriod" />
    <result column="business_license_from" jdbcType="VARCHAR" property="businessLicenseFrom" />
    <result column="qualification_code" jdbcType="VARCHAR" property="qualificationCode" />
    <result column="qualification_validity_period" jdbcType="TIMESTAMP" property="qualificationValidityPeriod" />
    <result column="qualification_from" jdbcType="VARCHAR" property="qualificationFrom" />
    <result column="safety_code" jdbcType="VARCHAR" property="safetyCode" />
    <result column="safety_validity_period" jdbcType="TIMESTAMP" property="safetyValidityPeriod" />
    <result column="safety_from" jdbcType="VARCHAR" property="safetyFrom" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_from" jdbcType="VARCHAR" property="bankFrom" />
    <result column="annex" jdbcType="VARCHAR" property="annex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="profession_type" jdbcType="BIGINT" property="professionType" />
    <result column="share_evaluation" jdbcType="CHAR" property="shareEvaluation" />
    <result column="qualification" jdbcType="CHAR" property="qualification" />
    <result column="share_remark" jdbcType="VARCHAR" property="shareRemark" />
    <result column="group_evaluation" jdbcType="CHAR" property="groupEvaluation" />
    <result column="group_remark" jdbcType="VARCHAR" property="groupRemark" />
    <result column="company_evaluation" jdbcType="CHAR" property="companyEvaluation" />
    <result column="company_group_evaluation" jdbcType="CHAR" property="companyGroupEvaluation" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, set_up_time, taxpayer_type_id, registered_capital, type_id, phone, email, address, 
    code, zip_code, legal_person_name, legal_person_position, legal_person_card, legal_person_phone, 
    legal_person_address, business_license_code, business_license_validity_period, business_license_from, 
    qualification_code, qualification_validity_period, qualification_from, safety_code, 
    safety_validity_period, safety_from, bank, bank_account, bank_from, annex, create_time, 
    create_user, update_time, update_user, profession_type, share_evaluation, qualification, 
    share_remark, group_evaluation, group_remark, company_evaluation, company_group_evaluation,`name`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subcontractor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from subcontractor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crcc.common.model.Subcontractor" keyProperty="id" useGeneratedKeys="true">
    insert into subcontractor (id, set_up_time, taxpayer_type_id, 
      registered_capital, type_id, phone, 
      email, address, code, 
      zip_code, legal_person_name, legal_person_position, 
      legal_person_card, legal_person_phone, legal_person_address, 
      business_license_code, business_license_validity_period, 
      business_license_from, qualification_code, 
      qualification_validity_period, qualification_from, 
      safety_code, safety_validity_period, safety_from, 
      bank, bank_account, bank_from, 
      annex, create_time, create_user, 
      update_time, update_user, profession_type, 
      share_evaluation, qualification, share_remark, 
      group_evaluation, group_remark, company_evaluation,`name`
      company_group_evaluation)
    values (#{id,jdbcType=BIGINT}, #{setUpTime,jdbcType=TIMESTAMP}, #{taxpayerTypeId,jdbcType=BIGINT}, 
      #{registeredCapital,jdbcType=DECIMAL}, #{typeId,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{zipCode,jdbcType=VARCHAR}, #{legalPersonName,jdbcType=VARCHAR}, #{legalPersonPosition,jdbcType=VARCHAR}, 
      #{legalPersonCard,jdbcType=VARCHAR}, #{legalPersonPhone,jdbcType=VARCHAR}, #{legalPersonAddress,jdbcType=VARCHAR}, 
      #{businessLicenseCode,jdbcType=VARCHAR}, #{businessLicenseValidityPeriod,jdbcType=TIMESTAMP}, 
      #{businessLicenseFrom,jdbcType=VARCHAR}, #{qualificationCode,jdbcType=VARCHAR}, 
      #{qualificationValidityPeriod,jdbcType=TIMESTAMP}, #{qualificationFrom,jdbcType=VARCHAR}, 
      #{safetyCode,jdbcType=VARCHAR}, #{safetyValidityPeriod,jdbcType=TIMESTAMP}, #{safetyFrom,jdbcType=VARCHAR}, 
      #{bank,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{bankFrom,jdbcType=VARCHAR}, 
      #{annex,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, #{professionType,jdbcType=BIGINT}, 
      #{shareEvaluation,jdbcType=CHAR}, #{qualification,jdbcType=CHAR}, #{shareRemark,jdbcType=VARCHAR}, 
      #{groupEvaluation,jdbcType=CHAR}, #{groupRemark,jdbcType=VARCHAR}, #{companyEvaluation,jdbcType=CHAR}, 
      #{companyGroupEvaluation,jdbcType=CHAR},#{name})
  </insert>
  <insert id="insertSelective" parameterType="com.crcc.common.model.Subcontractor" useGeneratedKeys="true" keyProperty="id">
    insert into subcontractor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="setUpTime != null">
        set_up_time,
      </if>
      <if test="taxpayerTypeId != null">
        taxpayer_type_id,
      </if>
      <if test="registeredCapital != null">
        registered_capital,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="zipCode != null">
        zip_code,
      </if>
      <if test="legalPersonName != null">
        legal_person_name,
      </if>
      <if test="legalPersonPosition != null">
        legal_person_position,
      </if>
      <if test="legalPersonCard != null">
        legal_person_card,
      </if>
      <if test="legalPersonPhone != null">
        legal_person_phone,
      </if>
      <if test="legalPersonAddress != null">
        legal_person_address,
      </if>
      <if test="businessLicenseCode != null">
        business_license_code,
      </if>
      <if test="businessLicenseValidityPeriod != null">
        business_license_validity_period,
      </if>
      <if test="businessLicenseFrom != null">
        business_license_from,
      </if>
      <if test="qualificationCode != null">
        qualification_code,
      </if>
      <if test="qualificationValidityPeriod != null">
        qualification_validity_period,
      </if>
      <if test="qualificationFrom != null">
        qualification_from,
      </if>
      <if test="safetyCode != null">
        safety_code,
      </if>
      <if test="safetyValidityPeriod != null">
        safety_validity_period,
      </if>
      <if test="safetyFrom != null">
        safety_from,
      </if>
      <if test="bank != null">
        bank,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="bankFrom != null">
        bank_from,
      </if>
      <if test="annex != null">
        annex,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="professionType != null">
        profession_type,
      </if>
      <if test="shareEvaluation != null">
        share_evaluation,
      </if>
      <if test="qualification != null">
        qualification,
      </if>
      <if test="shareRemark != null">
        share_remark,
      </if>
      <if test="groupEvaluation != null">
        group_evaluation,
      </if>
      <if test="groupRemark != null">
        group_remark,
      </if>
      <if test="companyEvaluation != null">
        company_evaluation,
      </if>
      <if test="companyGroupEvaluation != null">
        company_group_evaluation,
      </if>
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="setUpTime != null">
        #{setUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taxpayerTypeId != null">
        #{taxpayerTypeId,jdbcType=BIGINT},
      </if>
      <if test="registeredCapital != null">
        #{registeredCapital,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPosition != null">
        #{legalPersonPosition,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCard != null">
        #{legalPersonCard,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPhone != null">
        #{legalPersonPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonAddress != null">
        #{legalPersonAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseCode != null">
        #{businessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseValidityPeriod != null">
        #{businessLicenseValidityPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="businessLicenseFrom != null">
        #{businessLicenseFrom,jdbcType=VARCHAR},
      </if>
      <if test="qualificationCode != null">
        #{qualificationCode,jdbcType=VARCHAR},
      </if>
      <if test="qualificationValidityPeriod != null">
        #{qualificationValidityPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationFrom != null">
        #{qualificationFrom,jdbcType=VARCHAR},
      </if>
      <if test="safetyCode != null">
        #{safetyCode,jdbcType=VARCHAR},
      </if>
      <if test="safetyValidityPeriod != null">
        #{safetyValidityPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="safetyFrom != null">
        #{safetyFrom,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankFrom != null">
        #{bankFrom,jdbcType=VARCHAR},
      </if>
      <if test="annex != null">
        #{annex,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="professionType != null">
        #{professionType,jdbcType=BIGINT},
      </if>
      <if test="shareEvaluation != null">
        #{shareEvaluation,jdbcType=CHAR},
      </if>
      <if test="qualification != null">
        #{qualification,jdbcType=CHAR},
      </if>
      <if test="shareRemark != null">
        #{shareRemark,jdbcType=VARCHAR},
      </if>
      <if test="groupEvaluation != null">
        #{groupEvaluation,jdbcType=CHAR},
      </if>
      <if test="groupRemark != null">
        #{groupRemark,jdbcType=VARCHAR},
      </if>
      <if test="companyEvaluation != null">
        #{companyEvaluation,jdbcType=CHAR},
      </if>
      <if test="companyGroupEvaluation != null">
        #{companyGroupEvaluation,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crcc.common.model.Subcontractor">
    update subcontractor
    <set>
      <if test="setUpTime != null">
        set_up_time = #{setUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taxpayerTypeId != null">
        taxpayer_type_id = #{taxpayerTypeId,jdbcType=BIGINT},
      </if>
      <if test="registeredCapital != null">
        registered_capital = #{registeredCapital,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPosition != null">
        legal_person_position = #{legalPersonPosition,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCard != null">
        legal_person_card = #{legalPersonCard,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPhone != null">
        legal_person_phone = #{legalPersonPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonAddress != null">
        legal_person_address = #{legalPersonAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseCode != null">
        business_license_code = #{businessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseValidityPeriod != null">
        business_license_validity_period = #{businessLicenseValidityPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="businessLicenseFrom != null">
        business_license_from = #{businessLicenseFrom,jdbcType=VARCHAR},
      </if>
      <if test="qualificationCode != null">
        qualification_code = #{qualificationCode,jdbcType=VARCHAR},
      </if>
      <if test="qualificationValidityPeriod != null">
        qualification_validity_period = #{qualificationValidityPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationFrom != null">
        qualification_from = #{qualificationFrom,jdbcType=VARCHAR},
      </if>
      <if test="safetyCode != null">
        safety_code = #{safetyCode,jdbcType=VARCHAR},
      </if>
      <if test="safetyValidityPeriod != null">
        safety_validity_period = #{safetyValidityPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="safetyFrom != null">
        safety_from = #{safetyFrom,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankFrom != null">
        bank_from = #{bankFrom,jdbcType=VARCHAR},
      </if>
      <if test="annex != null">
        annex = #{annex,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="professionType != null">
        profession_type = #{professionType,jdbcType=BIGINT},
      </if>
      <if test="shareEvaluation != null">
        share_evaluation = #{shareEvaluation,jdbcType=CHAR},
      </if>
      <if test="qualification != null">
        qualification = #{qualification,jdbcType=CHAR},
      </if>
      <if test="shareRemark != null">
        share_remark = #{shareRemark,jdbcType=VARCHAR},
      </if>
      <if test="groupEvaluation != null">
        group_evaluation = #{groupEvaluation,jdbcType=CHAR},
      </if>
      <if test="groupRemark != null">
        group_remark = #{groupRemark,jdbcType=VARCHAR},
      </if>
      <if test="companyEvaluation != null">
        company_evaluation = #{companyEvaluation,jdbcType=CHAR},
      </if>
      <if test="companyGroupEvaluation != null">
        company_group_evaluation = #{companyGroupEvaluation,jdbcType=CHAR},
      </if>
      <if test="name != null">
        `name` = #{name}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crcc.common.model.Subcontractor">
    update subcontractor
    set set_up_time = #{setUpTime,jdbcType=TIMESTAMP},
      taxpayer_type_id = #{taxpayerTypeId,jdbcType=BIGINT},
      registered_capital = #{registeredCapital,jdbcType=DECIMAL},
      type_id = #{typeId,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      legal_person_position = #{legalPersonPosition,jdbcType=VARCHAR},
      legal_person_card = #{legalPersonCard,jdbcType=VARCHAR},
      legal_person_phone = #{legalPersonPhone,jdbcType=VARCHAR},
      legal_person_address = #{legalPersonAddress,jdbcType=VARCHAR},
      business_license_code = #{businessLicenseCode,jdbcType=VARCHAR},
      business_license_validity_period = #{businessLicenseValidityPeriod,jdbcType=TIMESTAMP},
      business_license_from = #{businessLicenseFrom,jdbcType=VARCHAR},
      qualification_code = #{qualificationCode,jdbcType=VARCHAR},
      qualification_validity_period = #{qualificationValidityPeriod,jdbcType=TIMESTAMP},
      qualification_from = #{qualificationFrom,jdbcType=VARCHAR},
      safety_code = #{safetyCode,jdbcType=VARCHAR},
      safety_validity_period = #{safetyValidityPeriod,jdbcType=TIMESTAMP},
      safety_from = #{safetyFrom,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      bank_from = #{bankFrom,jdbcType=VARCHAR},
      annex = #{annex,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      profession_type = #{professionType,jdbcType=BIGINT},
      share_evaluation = #{shareEvaluation,jdbcType=CHAR},
      qualification = #{qualification,jdbcType=CHAR},
      share_remark = #{shareRemark,jdbcType=VARCHAR},
      group_evaluation = #{groupEvaluation,jdbcType=CHAR},
      group_remark = #{groupRemark,jdbcType=VARCHAR},
      company_evaluation = #{companyEvaluation,jdbcType=CHAR},
      company_group_evaluation = #{companyGroupEvaluation,jdbcType=CHAR},
      `name`=#{name}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findDetailsById" resultType="com.crcc.common.model.Subcontractor">
    SELECT
      s.*,d1.value as taxpayerTypeStr,d2.value as typeStr,d3.value as professionStr
    FROM
      subcontractor s
    LEFT JOIN
      dict d1 ON s.taxpayer_type_id = d1.id
    LEFT JOIN
	  dict d2 on s.type_id = d2.id
    LEFT JOIN
	  dict d3 on s.profession_type = d3.id
	WHERE s.id = #{subcontractorId}
  </select>

  <select id="listForPage" resultType="com.crcc.common.model.Subcontractor">
    SELECT
      s.*,d1.value as taxpayerTypeStr,d2.value as typeStr,d3.value as professionStr
    FROM
      subcontractor s
    LEFT JOIN
      dict d1 ON s.taxpayer_type_id = d1.id
    LEFT JOIN
	  dict d2 on s.type_id = d2.id
    LEFT JOIN
	  dict d3 on s.profession_type = d3.id
	WHERE 1=1
    <if test="name != null">
      AND s.name LIKE concat('%',#{name},'%')
    </if>
    <if test="typeId != null">
      AND s.type_id = #{typeId}
    </if>
    <if test="professionType != null">
      AND s.profession_type = #{professionType}
    </if>
    <if test="minAmount != null and maxAmount != null">
      AND s.registered_capital &lt;= #{maxAmount} AND s.registered_capital &gt;= #{minAmount}
    </if>
    <if test="shareEvaluation != null">
      AND s.share_evaluation = #{shareEvaluation}
    </if>
    <if test="groupEvaluation != null">
      AND s.group_evaluation = #{groupEvaluation}
    </if>
    <if test="companyEvaluation != null">
      AND s.company_evaluation = #{companyEvaluation}
    </if>
    ORDER BY s.id DESC
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
  </select>
</mapper>